@using logiWeb.Models
@{
    Layout = "~/Views/Templates/_Layout.cshtml";
    ViewBag.Title = "Cliente Pessoa Fisica"; 
}

<style>
    body{
    background: whitesmoke !important;
    }
</style>
<div>
    <h1>Clientes</h1>

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>CPF</th>
            <th>RG</th>
            <th>NASCIMENTO</th>
            <th>DATA CADASTRO</th>
        </tr>
        @foreach(Cliente c in Model)
        {
        <tr>
            <td>@c.Id</td>
            <td>@c.Nome</td>
            <td>@c.Email</td>
            <td>@c.Cpf</td>
            <td>@c.Rg</td>
            <td>@c.DatNasc</td>
            <td>@c.DatCad</td>
            <td>@c.Ativo</td>
        </tr>
        }
</table>

<a href="/Cliente/Cadastrar" class="btn btn-primary">Adicionar</a>